<div class="paginate-wrapper">
  <div class="paginate-pages">
    <ul *ngIf="itemLength" class="pagination">
      <li [ngClass]="{disabled: paginateOptions.currentPage === 0}" class="page-arrow">
        <a (click)="setCurrentPage(paginateOptions.currentPage - 1)" class="chevron left"></a>
      </li>
      <li *ngFor="let page of getArrayForPaginate(); index as i"
          [ngClass]="{active: paginateOptions.currentPage === i}" class="number-item">
        <a (click)="setCurrentPage(i)" class="page-link">{{i + 1}}</a>
      </li>
      <li [ngClass]="{disabled: paginateOptions.currentPage === getArrayForPaginate().length - 1}" class="page-arrow">
        <a (click)="setCurrentPage(paginateOptions.currentPage + 1)" class="chevron right"></a>
      </li>
    </ul>
  </div>
  <div class="paginate-amount">
    <!--TODO: Need refactor to ngFor-->
    <ul>
      <li>
        <a (click)="setPageSize(5)"
           [ngClass]="{active: paginateOptions.pageSize === 5}">5</a>
      </li>
      <li>
        <a (click)="setPageSize(10)"
           [ngClass]="{active: paginateOptions.pageSize === 10}">10</a>
      </li>
      <li>
        <a (click)="setPageSize(25)"
           [ngClass]="{active: paginateOptions.pageSize === 25}">25</a>
      </li>
    </ul>
  </div>
</div>
