.paginate-wrapper {
  position: relative;
  font-size: 14px;
  .paginate-pages {
    display: flex;
    justify-content: center;
    .pagination {
      display: flex;
      .page-arrow {
        padding: 5px 10px 0;
        a {
          cursor: pointer;
        }
        &.disabled {
          a {
            pointer-events: none;
            color: #ccc;
          }
        }
      }
      .number-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        a {
          display: flex;
          width: 25px;
          height: 25px;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          color: #4a4a4b;
        }
        &.active {
          a {
            border-radius: 100%;
            background-color: #f2994a;
            color: #ffffff;
          }
        }
      }
    }
  }
  .paginate-amount {
    position: absolute;
    right: 0;
    top: 0;
    ul {
      display: flex;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 25px;
        height: 25px;
        color: #4a4a4b;
        &.active {
          background-color: #f2994a;
          color: #ffffff;
        }
      }
    }
  }
}

.chevron {
  &:before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 10px;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 10px;
    cursor: pointer;
  }
  &.right:before {
    left: 0;
    transform: rotate(45deg);
  }
  &.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
  }
}