<article>
  <div class="filter-wrapper">
    <div class="form-element form-input">
      <input [(ngModel)]='searchValue' type="search" placeholder="Name" (input)="filterMovies()">
    </div>
    <div class="form-element form-select">
      <select name="genre" [(ngModel)]="selectedGenre" (change)="filterMovies()">
        <option value="" selected>Genre</option>
        <option *ngFor="let genre of genres" [value]="genre">{{genre}}</option>
      </select>
    </div>
    <div class="form-element form-select">
      <select [(ngModel)]="selectedYear" placeholder="Genre" (change)="filterMovies()">
        <option value="" selected>Premiere Year</option>
        <option *ngFor="let year of premiereYears" [value]="year">{{year}}</option>
      </select>
    </div>
  </div>
  <div class="table-wrapper">
    <table class="table">
      <thead>
      <tr>
        <th *ngFor="let option of columnOptions"
            class="th-element {{option.className}} {{getHeadThClass(option.field)}}"
            (click)="sortDataBy(option.field)">
        <span class="th-content">
          <span>{{option.name}}</span>
          <span class="chevron"></span>
        </span>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let movie of viewMovies | sort : sortField : isSortReverse | paginate : paginateOptions.currentPage : paginateOptions.pageSize">
        <td class="text-left">
          <span>{{movie.name}}</span>
          <div class="genre-list">
            <!--TODO: Need create component for genre-->
            <span *ngFor="let genre of movie.genre"
                  class="genre {{genre}}">{{genre}}
            </span>
          </div>
        </td>
        <td class="text-center">{{movie.season}}</td>
        <td class="text-center">{{movie.network}}</td>
        <td class="text-right">{{movie.premiere}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-paginate [itemLength]="viewMovies.length" (paginateOptionsEmit)="setPaginateOptions($event)"></app-paginate>
</article>