article {
  padding: 50px 15px;
}

.table-wrapper {
  padding: 30px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  th,
  td {
    padding: .75rem;
    vertical-align: top;
  }
  th {
    background-color: #934dd6;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    &:last-child {
      padding-right: 20px;
    }
  }
  td {
    background-color: #fff;
  }

  thead th {
    vertical-align: bottom;
  }
}

.th-element {
  position: relative;
  .chevron {
    right: 8px;
    position: absolute;
    &::before {
      display: none;
    }
  }
  &.sort {
    .chevron {
      &::before {
        display: inline-block;
      }
    }
    &.desk {
      .chevron {
        &::before {
          top: 0;
          transform: rotate(135deg);
        }
      }
    }
  }

}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.chevron {
  &:before {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 10px;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 10px;
    cursor: pointer;
  }
  &.right:before {
    left: 0;
    transform: rotate(45deg);
  }
  &.left:before {
    left: 0.25em;
    transform: rotate(-135deg);
  }
}

.filter-wrapper {
  display: flex;
  .form-element {
    background-color: #f2994a;

    &:not(:last-child) {
      margin-right: 10px;
    }
    &.form-input {
      width: 40%;
    }
    &.form-select {
      width: 30%;
    }
    input, select {
      width: 100%;
      border-radius: 0;
      background-color: #f2994a;
      border: 0;
      height: 40px;
      outline: none;
      font-size: 16px;
      padding: 0 10px;
    }
  }
}
