<div class="table-wrapper">
  <table class="table">
    <thead>
    <tr>
      <th *ngFor="let option of columnOptions"
          class="th-element {{option.className}} {{getHeadThClass(option.field)}}"
          (click)="sortDataBy(option.field)">
        <span class="th-content">
          <span>{{option.name}}</span>
          <span class="chevron"></span>
        </span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies">
      <td class="text-left">{{movie.name}}</td>
      <td class="text-center">{{movie.season}}</td>
      <td class="text-center">{{movie.network}}</td>
      <td class="text-right">{{movie.premiere}}</td>
    </tr>
    </tbody>
  </table>
</div>