<div class="table-wrapper">
  <table class="table">
    <thead>
    <tr>
      <th class="text-left" (click)="sortDataBy('name')">Name</th>
      <th class="text-center" (click)="sortDataBy('season')">Season</th>
      <th class="text-center" (click)="sortDataBy('network')">Network</th>
      <th class="text-right" (click)="sortByDate()">Premiere</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies">
      <td class="text-left">{{movie.name}}</td>
      <td class="text-center">{{movie.season}}</td>
      <td class="text-center">{{movie.network}}</td>
      <td class="text-right">{{movie.premiere}}</td>
    </tr>
    </tbody>
  </table>
</div>